proizvodi.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Proizvodi">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Proizvod" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cena">
                <xs:complexType>
                  <xs:simpleContent>
                      <xs:extension base="xs:integer">
                        <xs:attribute name="valuta">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="rsd"/>
                                    <xs:enumeration value="eur"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                      </xs:extension>
                  </xs:simpleContent>
                  
                </xs:complexType>
              </xs:element>
              <xs:element name="tekst">
                  <xs:simpleType>
                      <xs:restriction base="xs:string">
                          <xs:minLength value="10"/>
                          <xs:maxLength value="180"/>
                      </xs:restriction>
                  </xs:simpleType>
              </xs:element>
              <xs:element name="tagovi">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="tag" maxOccurs="5" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="akcije">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="akcija">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:int" name="cena" use="required"/>
                            <xs:attribute type="xs:date" name="datum" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="kategorija" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="laptopovi"/>
                        <xs:enumeration value="monitori"/>
                        <xs:enumeration value="stolovi"/>
                        <xs:enumeration value="stolice"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>